{% extends 'base1.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
    <div style="text-align: center;">

        <div class="preview-icon bg-light">
            <img src="{% static 'Login/images/Logo.png' %}" style="height:50px;width:50px"/>
            Family Bank Team
        </div>
        <hr>
    </div>
    {% if notification %}
    {% for notify in notification %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ notify.subject }}</h5>
                    <p class="card-text">{{ notify.message }}</p>
                    <p>{{ notify.created_at }}</p>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
